<%- include('./partials/head') %> <!-- Deze regel voegt de inhoud van head.ejs toe aan de pagina -->

 
<section class ="hero">
    <div class="skewed"></div>
    <h1>BNR Business Beats</h1>
    <p>blijf scherp</p>
</section>

<section class="musicplayer">
    <audio id="audio" src="http://playerservices.streamtheworld.com/api/livestream-redirect/BNR_BUSINESS_BEATS.mp3?<%= Date.now() %>" controls preload="none"></audio>
         <div class="play-btn-container">
             <button id="play-pause-button"></button>
         </div>
    <input type="range" id="volume" min="0" max="100" value="100">
</section>
  

<article class="articles">
    <h1>Laatste Artikelen</h1>
        <ul>
        <% articles.forEach(function(article, index) { %>
            <li class="article-card">
                 <img src="<%= article.photo.URL %>" alt="<%= article.title %>">
                 <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
                     <div class="article-meta">
                        <p class="author"><%= article.author %></p>
                        <p class="date"><%= article.publishedAt %></p>
                     </div>
            </li>   
      <% }); %>
       </ul>
</article>
   
  
</body>
</html>
